.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile-Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  width: 300px;
  justify-content: space-between;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
